@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=IBM+Plex+Sans+Condensed:wght@100&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-45deg,  rebeccapurple,rgb(207, 145, 155),rgb(11, 212, 212));
  font-family: "Hubballi", cursive;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 400% 400%;  
  animation: animate 15s ease-in-out infinite;
}

#header {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  margin: auto;
  margin-top: 40px;
}

.mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 60vh;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.3);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}


@keyframes animate {
  0%{
    background-position: 0 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
  
}

.box{
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 220px;
  opacity: 1;
  color:white;
  line-height: 44px;
  font-weight: bold;
  font-size: 40px;
}
.box:nth-child(1){
  border-bottom-left-radius:15px ;
  border-top-left-radius: 15px;
}

.box:nth-child(3){
  border-top-right-radius:15px ;
  border-bottom-right-radius:15px ;
}


.icon{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(216, 132, 236);
  line-height: 44px;
  border-radius: 50%;
  color: rebeccapurple;
  transition: .7s ;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h3{
  margin: 0;
  padding: 0;
  transition: .7s ;
}


a{
  text-decoration: none;
  color: rebeccapurple;
}

.box:hover> .icon{
  height: 100px;
  width: 100px;
  line-height: 44px; 
  background-color: rgb(36, 221, 221);
  color: rgb(54, 29, 80);
  cursor: pointer;
}

.box:hover>.icon>h3{
  margin-bottom: 40px;
}


@media only screen and (max-width: 600px) {
  .mainContainer {
    height: 80vh;
    margin-top: 40px;
    flex-direction: column;
  }
  .box{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .box:nth-child(1){
    border-top-right-radius:15px ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0 ;
  }
  
  .box:nth-child(3){
    border-top-right-radius:0 ;
    border-bottom-right-radius:15px ;
    border-bottom-left-radius:15px ;
  }
}
